
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/style.css">
    <title>add product</title>
  
</head>
<body>
    <header  class="mainheader">
        <nav>
            <ul class="midheader">
                <li class="midheader-item"><a href="/admin/shop">shop</a></li>
                <li class="midheader-item"><a href="/admin/addproduct">add-product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Products </h1>
        <p>list of all the products</p>
    </main>
</body>
</html>